[2015-06-16 02:11] iwarapter opened #1 "clean up the functional tests"
The functional tests need abit of work to make them more reusable.

[2015-06-17 12:10] iwarapter opened #2 "Add example xpath rules to allow new rules"
Add in example xpath rule check that can be copied as a template.

[2015-06-17 23:30] #2 closed

[2015-07-11 20:52] #1 closed

[2015-07-18 20:13] racodond opened #3 "False negatives with puppet:LineLength check"
Comments line that are too long do not raise issues against puppet:LineLength.
Also, deprecate the related Puppet Lint check.

[2015-07-18 20:16] racodond commented on #3
Fixed in PR https://github.com/iwarapter/sonar-puppet/pull/4

[2015-07-18 20:59] #3 closed

[2015-07-18 21:04] racodond opened #5 "Do not rely anymore on Puppet Lint to track trailing whitespaces"

[2015-07-18 21:09] racodond commented on #5
Fixed in PR https://github.com/iwarapter/sonar-puppet/pull/6

[2015-07-18 21:25] #5 closed

[2015-07-18 21:26] iwarapter commented on #5
Thanks for your contribution!

[2015-07-18 21:43] racodond opened #7 "Add a rule to check that there is an empty line at the end of each file"

[2015-07-18 21:45] racodond commented on #7
Fixed in PR https://github.com/iwarapter/sonar-puppet/pull/8

[2015-07-18 21:46] racodond commented on #5
You're welcome!

[2015-07-18 21:55] racodond opened #9 "[Parsing error] Function call in parameter default value is not supported"
The following piece of code does not parse:
[code]

[2015-07-18 22:00] racodond opened #10 "[Parsing error] "require" is not fully supported"
The following piece of code does not parse:
[code]

[2015-07-18 22:03] racodond opened #11 "[Parsing error] Selectors are not fully supported"
The following piece of code does not parse (selector with default value only)
[code]

The following piece of code does not parse but should:
[code]
See https://docs.puppetlabs.com/puppet/latest/reference/lang_conditional.html#case-matching-1

Also, the following piece of code is not properly parsed:
[code]

[2015-07-18 22:09] racodond opened #12 "[Parsing error] When part of the name of a define/class/etc contains a reserved keyword"
The following piece of code does not parse:
[code]

The following piece of code is properly parsed:
[code]

In comments, "import" is considered as a reserved word (colorizing) but should not:
[code]

[2015-07-18 22:18] racodond opened #13 "[Parsing error] Parentheses not required for statement functions"
The following piece of code is properly parsed as expected:
[code]

The following piece of code does not parse but should:
[code]

The only real difference between statement functions and other functions is that you can omit parentheses when calling a statement function with at least one argument... See https://docs.puppetlabs.com/puppet/latest/reference/lang_functions.html

[2015-07-18 22:21] iwarapter commented on #11
Hi David,

The grammar is setup to match the defined syntax:
https://docs.puppetlabs.com/puppet/latest/reference/lang_conditional.html#syntax-3

As such it read this part as the selector statement:

[code]

The full expression you gave is then classed as an assignment (of the evaluated selector statement).

Is this not what you would expect?

[2015-07-18 22:33] racodond commented on #11
My bad! My analysis of the parsing error wasn't thorough enough. Selectors are supported but not when there's only the default value. I updated the description of the issue accordingly.

[2015-07-18 22:56] racodond opened #14 "[Parsing error] Multiple resource bodies are not supported"
See https://docs.puppetlabs.com/puppet/latest/reference/lang_resources_advanced.html#multiple-resource-bodies

[2015-07-18 23:04] racodond opened #15 "[Parsing error] Last attribute and value pair can end with a semicolon"
I'm having a hard time finding a reference that states that the following syntax is valid:
[code]
but our code seems to be properly parsed.
I found this: https://books.google.fr/books?id=wEInCgAAQBAJ&pg=PA45&dq=Each+attribute+and+value+pair+should+end+with+a+comma.+The+last+attribute+should+end+in+a+comma+or+a+semicolon&hl=fr&sa=X&ved=0CCEQ6AEwAGoVChMImNqHgOTlxgIVCVwUCh2vrgoG#v=onepage&q=Each%20at

[2015-07-18 23:08] iwarapter commented on #10
See https://docs.puppetlabs.com/puppet/latest/reference/lang_relationships.html#syntax-the-require-function

Missing support for the require function statement.

[2015-07-18 23:10] iwarapter commented on #10
For specific syntax requirements.

See https://docs.puppetlabs.com/puppet/latest/reference/lang_classes.html#using-require

[2015-07-18 23:14] racodond opened #16 "[Parsing error] Array sectioning doesn't seem to be supported"
See https://docs.puppetlabs.com/puppet/latest/reference/lang_data_array.html#array-sectioning

[2015-07-18 23:15] iwarapter commented on #10
Going to go out on a limb and say https://docs.puppetlabs.com/puppet/latest/reference/lang_classes.html#using-contain also isnt supported...

[2015-07-18 23:21] racodond opened #17 "[Parsing error] To be investigated"
The following piece of code does not parse:
[code]
The root cause to be investigated...

[2015-07-18 23:25] racodond opened #18 "Do not rely on Puppet Lint anymore to track usage of tab characters"

[2015-07-18 23:39] racodond opened #19 "Add rule "FIXME" tags should be handled"

[2015-07-18 23:39] racodond opened #20 "Add rule "TODO" tags should be handled"

[2015-07-18 23:40] racodond opened #21 "Add rule Regular expression on comment"

[2015-07-18 23:43] racodond opened #22 "Add rule File should follow a naming convention"

[2015-07-18 23:43] racodond opened #23 "Add rule "NOSONAR" tags should not be used to switch off issues"

[2015-07-19 00:03] iwarapter commented on #10
Hi David,

Do you want to give the new changes a go?

[2015-07-19 00:17] racodond commented on #10
Down from 243 to 124 parsing errors. Good job!
I'll check the remaining parsing errors tomorrow. Time to go to bed, here, in France :-)

[2015-07-19 00:19] iwarapter commented on #10
Yeah it's 1:30am here in the UK gonna finish the multiple resource bodies and pick up tomorrow evening.

Thanks for your help, much appreciated!

[2015-07-19 08:04] #7 closed

[2015-07-19 08:30] racodond commented on #20
Fixed in PR https://github.com/iwarapter/sonar-puppet/pull/25

[2015-07-19 08:32] racodond commented on #19
Fixed in PR https://github.com/iwarapter/sonar-puppet/pull/26

[2015-07-19 08:48] racodond commented on #21
Fixed in PR https://github.com/iwarapter/sonar-puppet/pull/27

[2015-07-19 09:08] racodond opened #28 "Add rule All comments should be formatted consistently"
Deprecate Pplint:slash_comments and Pplint:star_comments

[2015-07-19 09:23] racodond opened #29 "Double-check slash comment pattern"
@iwarapter: I'm not sure to understand https://github.com/iwarapter/sonar-puppet/blob/master/puppet-squid/src/main/java/com/iadams/sonarqube/puppet/lexer/PuppetLexer.java#L54. What is ```|#[^\\n\\r].*``` for? Just a typo? I updated this regular expression in PR https://github.com/iwarapter/sonar-puppet/pull/30

[2015-07-19 09:46] racodond commented on #28
Fixed in https://github.com/iwarapter/sonar-puppet/pull/30

[2015-07-19 10:03] racodond opened #31 "Fix rule puppet:UserResourceLiteralName that makes the analysis crash when activated"

[2015-07-19 10:07] racodond commented on #31
Fixed in https://github.com/iwarapter/sonar-puppet/pull/32

[2015-07-19 10:28] racodond commented on #18
Deprecate Pplint:hard_tabs

[2015-07-19 10:29] racodond commented on #18
Fixed in PR https://github.com/iwarapter/sonar-puppet/pull/33

[2015-07-19 10:41] racodond commented on #23
Fixed in https://github.com/iwarapter/sonar-puppet/pull/34

[2015-07-19 10:56] racodond commented on #22
Fixed in PR https://github.com/iwarapter/sonar-puppet/pull/35

[2015-07-19 12:28] racodond opened #39 "Add rule Variable naming convention"
Deprecate Pplint:variable_contains_dash

[2015-07-19 13:29] racodond commented on #39
Fixed in PR https://github.com/iwarapter/sonar-puppet/pull/40

[2015-07-19 13:31] racodond opened #41 "Do not rely anymore on Puppet Lint to detect duplicated parameters"

[2015-07-19 13:55] racodond commented on #41
Fixed in PR https://github.com/iwarapter/sonar-puppet/pull/42

[2015-07-19 14:00] racodond opened #43 "Do not rely anymore on Puppet Lint to check file mode"

[2015-07-19 18:52] #41 closed

[2015-07-19 18:52] iwarapter commented on #41
PR Merged

[2015-07-19 18:52] iwarapter commented on #39
PR Merged

[2015-07-19 18:52] #39 closed

[2015-07-19 18:52] iwarapter commented on #31
PR Merged

[2015-07-19 18:52] #31 closed

[2015-07-19 18:53] iwarapter commented on #28
PR Merged

[2015-07-19 18:53] #28 closed

[2015-07-19 18:53] iwarapter commented on #23
PR Merged

[2015-07-19 18:53] #23 closed

[2015-07-19 18:53] iwarapter commented on #21
PR Merged

[2015-07-19 18:53] #21 closed

[2015-07-19 18:53] iwarapter commented on #18
PR Merged

[2015-07-19 18:53] #18 closed

[2015-07-19 18:53] iwarapter commented on #19
PR Merged

[2015-07-19 18:53] #19 closed

[2015-07-19 18:54] iwarapter commented on #20
PR Merged

[2015-07-19 18:54] #20 closed

[2015-07-19 18:54] iwarapter commented on #22
PR Merged

[2015-07-19 18:54] #22 closed

[2015-07-19 18:54] iwarapter commented on #14
@racodond This should now work as expected, can you confirm?

[2015-07-19 18:55] iwarapter commented on #13
@racodond This should now work as expected, can you confirm?

[2015-07-19 18:55] iwarapter commented on #11
@racodond This should now work as expected, can you confirm?

[2015-07-19 18:55] iwarapter commented on #9
@racodond This should now work as expected, can you confirm?

[2015-07-19 19:11] iwarapter commented on #16
@racodond can you check this resolves your issues please.

[2015-07-19 19:31] iwarapter opened #44 "Properly support resource default statements"
See https://docs.puppetlabs.com/puppet/latest/reference/lang_defaults.html#language:-resource-default-statements

[2015-07-19 19:32] iwarapter opened #45 "Add check for resource-defaults as they should only be declared in a very controlled manor"
See http://docs.puppetlabs.com/guides/style_guide.html#resource-defaults

[2015-07-19 19:33] iwarapter commented on #45
Depends on #44

[2015-07-19 21:01] iwarapter commented on #17
Reviewed the full syntax (See https://docs.puppetlabs.com/puppet/latest/reference/lang_resources_advanced.html)

The resource type, which can be one of:
- A lowercase word with no quotes, like file.
- A resource type data type, like File, Resource[File] or Resource['file']. It must have a type but not a title.

Currently not handling the second part.

[2015-07-19 22:04] iwarapter commented on #17
Given `It must have a type but not a title.` this will be probably require re-writing the entire resource grammar.

[2015-07-20 07:50] racodond commented on #29
@iwarapter: As you merge PR #30, you can close this issue if it's ok with you.

[2015-07-20 11:01] iwarapter commented on #29
@racodond Not sure why that was there i'm assuming i probably had all single line comments as one type to begin with maybe?

[2015-07-20 11:01] #29 closed

[2015-07-20 16:01] racodond commented on #9
I confirm. Thanks!
I added a specific unit test for PARAMETER: https://github.com/iwarapter/sonar-puppet/commit/c3da6c4c0cf7549586a3a110305c8d17c588f72a

[2015-07-20 16:01] #9 closed

[2015-07-20 16:03] racodond commented on #10
Fixed!

[2015-07-20 16:03] #10 closed

[2015-07-20 16:05] iwarapter commented on #9
:+1:

[2015-07-20 16:06] racodond opened #46 "[Parsing error] create_resources is not supported"
See https://docs.puppetlabs.com/references/latest/function.html#createresources

The following piece of code is not properly parsed:
[code]

[2015-07-20 16:10] racodond commented on #11
I confirm.

[2015-07-20 16:10] #11 closed

[2015-07-20 16:18] racodond commented on #13
@iwarapter: If we really want to match the Puppet syntax, parenthesis are only optional for statement functions. I will create another issue but it is really minor. Also, I will create an issue to add a rule enforcing parentheses in function calls.

[2015-07-20 16:18] #13 closed

[2015-07-20 16:20] racodond opened #47 "Do not use parenthesis when calling a statement function"
Statement functions: https://docs.puppetlabs.com/puppet/latest/reference/lang_functions.html#list-of-built-in-statement-functions

[2015-07-20 16:21] racodond opened #48 "Parenthesis are only optional for statement function calls"
See https://docs.puppetlabs.com/puppet/latest/reference/lang_functions.html#list-of-built-in-statement-functions

Upgrade grammar accordingly

Very minor issue

[2015-07-20 16:23] racodond commented on #14
Fixed

[2015-07-20 16:23] #14 closed

[2015-07-20 16:50] racodond commented on #16
Not fully supported yet.
@iwarapter: I'll let you review PR https://github.com/iwarapter/sonar-puppet/pull/49.

[2015-07-20 17:00] racodond opened #50 "[Parsing error] The "in" comparison operator is not supported"
See https://docs.puppetlabs.com/puppet/latest/reference/lang_expressions.html#in

[2015-07-20 17:17] racodond opened #51 "[Parsing error] HASHES does not allow function call for now."
The following piece of code is not supported:
[code]

In the grammar, HASHES does not allow function call for now.

[2015-07-20 17:19] racodond commented on #51
@iwarapter: You can review PR https://github.com/iwarapter/sonar-puppet/pull/52

[2015-07-20 17:25] iwarapter commented on #51
Merged. Many thanks.

[2015-07-20 17:25] #51 closed

[2015-07-20 17:27] racodond opened #54 "[Parsing error] $logstash::conffile[$name] not considered as an accessor"
The following piece of code cannot be parsed:
[code]

I guess that is because ```$logstash::conffile[$name]``` is not considered as an accessor. It should be considered as so like ```$logstash::conffile[1]```

[2015-07-20 17:33] iwarapter commented on #54
This can be fixed quite easily by adding the VARIABLE grammar to the grammar syntax, but should this not also support any EXPRESSION that can resolve to the numerical index?

[2015-07-20 17:35] iwarapter commented on #44
@racodond can you confirm this fixed your issue?

[2015-07-20 17:36] iwarapter commented on #16
PR Merged.

[2015-07-20 17:36] #16 closed

[2015-07-20 17:52] iwarapter commented on #46
Should be supported with PR #55

[2015-08-03 15:19] #50 closed

[2015-08-03 15:19] #46 closed

[2015-08-03 15:20] #17 closed

[2015-08-03 15:20] #44 closed

[2015-08-03 15:21] #54 closed

[2015-08-03 15:33] #12 closed

[2015-08-03 15:37] racodond opened #58 "[Parse error] unless attribute of the exec function"
The following piece of code does not parse:
[code]
because it looks like ```unless``` is being parsed as https://docs.puppetlabs.com/puppet/latest/reference/lang_conditional.html#unless-statements instead of an attribute of the ```exec``` function: https://docs.puppetlabs.com/references/latest/type.html#exec-attributes

[2015-08-03 15:40] racodond opened #59 "[Parse error] Issues with arrays"
The following pieces of code do not parse:
[code]
[code]

[2015-08-03 15:51] racodond opened #60 "[Parse error] Nested selector expression"
The following piece of code doesn't parse:
[code]

[2015-08-03 18:45] #58 closed

[2015-08-03 18:47] iwarapter commented on #60
Apologies i have actually worked on this yet ignore the over zealous commit saying it was fixed!

[2015-08-03 18:55] iwarapter commented on #60
This is because the old array grammar is rubbish. Should have this fixed shortly.

[2015-08-03 19:05] iwarapter commented on #60
@racodond Ready for testing.

[2015-08-03 19:05] iwarapter commented on #59
@racodond Ready for testing.

[2015-08-03 19:06] iwarapter commented on #48
@racodond should be fixed can you confirm?

[2015-08-03 19:07] #45 closed

[2015-08-03 19:08] iwarapter commented on #15
@racodond should be fixed can you confirm?

[2015-08-04 10:16] racodond commented on #60
Fixed! Thanks!

[2015-08-04 10:16] #60 closed

[2015-08-04 10:16] racodond commented on #59
Fixed! Thanks!

[2015-08-04 10:16] #59 closed

[2015-08-04 11:06] racodond commented on #15
Fixed!

[2015-08-04 11:06] #15 closed

[2015-08-04 11:08] racodond commented on #48
Fixed!

[2015-08-04 11:08] #48 closed

[2015-08-04 12:41] iwarapter commented on #47
@racodond do you have any more parser issues?

[2015-08-04 12:58] racodond commented on #47
No remaining parsing error. I didn't run a SonarQube analysis on all our Puppet code yet though. But for sure you did a great work. It's time to start writing rules and fine tune the grammar when necessary. I'll try to find some time before the end of the week to write some rules and dive into the grammar.

[2015-08-04 16:48] iwarapter commented on #47
No worries, let me know when you run it. I'm going to review the [style guide](http://docs.puppetlabs.com/guides/style_guide.html#the-puppet-language-style-guide) and see what i can add rules for.

[2015-08-04 20:56] #43 closed

[2015-08-05 17:08] racodond opened #69 "puppet:ResourceDefaultUsed brings no value"
@iwarapter To be discussed but rule puppet:ResourceDefaultUsed doesn't bring any value for now. I'm not keen of having such rules even at INFO level.

[2015-08-05 17:18] iwarapter commented on #69
So the reason for this was to help highlight instances of where they had been used as although using them isn't wrong, it can easily cause all sorts of issues if used poorly. If there is a better way we can easily expose the uses happy to look into it.

[2015-08-05 18:15] iwarapter opened #70 "Add check for nested classes or defines"
http://docs.puppetlabs.com/guides/style_guide.html#nested-classes-or-defines

[2015-08-05 20:43] racodond commented on #69
It's more a manual check than an automated check. I'd prefer to let users implement a very simple XPath check if they want to flag all usages of resource default statements to review them. What do you think?

[2015-08-05 20:48] iwarapter commented on #69
Yeah i agree i think an XPath rule is a good fit here.

[2015-08-05 20:51] #70 closed

[2015-08-05 21:00] iwarapter opened #74 "What other checks / features shall we add before the next release?"
@racodond What do you think we need to add before the next release?

I was thinking we should look at the following style guide issues:

https://docs.puppetlabs.com/guides/style_guide.html#class-inheritance
https://docs.puppetlabs.com/guides/style_guide.html#symbolic-links
https://docs.puppetlabs.com/guides/style_guide.html#resource-names

What else do you think we need before its ready for a 0.2.

[2015-08-05 21:02] racodond commented on #69
OK. I'll let you remove the related code then?

[2015-08-05 21:50] racodond commented on #74
I'd like to get rid off Puppet Lint (that embeds the rules you mentioned above). We already have rewritten half of the rules. A few more days of work and we can kill Puppet Lint. OK with you? To not both work on the same rules, let's create an issue and assigned it while starting working on a Puppet Lint rule replacement.

[2015-08-05 22:02] iwarapter commented on #74
I'd like to get rid of puppet lint too, but make sure we support (enough) of the important rules. Apart from the ones i listed which others do you think we should include?

[2015-08-05 22:14] iwarapter opened #77 "replace puppet lint rule ensure_not_symlink_target"
https://docs.puppetlabs.com/guides/style_guide.html#symbolic-links
http://puppet-lint.com/checks/ensure_not_symlink_target/

[2015-08-05 22:20] iwarapter commented on #74
Also once we reach this milestone i might start looking into how we can implement support for the future (4.x) parser, but this is still aspirational i had a quick chat on the google groups and believe i have a rough idea of how this could be achieved:
https://groups.google.com/forum/#!topic/sonarqube/9kQNWZw0Bs0

[2015-08-05 22:22] #69 closed

[2015-08-05 22:24] iwarapter opened #78 "replace puppet lint rule unquoted_resource_title"
http://puppet-lint.com/checks/unquoted_resource_title/
https://docs.puppetlabs.com/guides/style_guide.html#resource-names

[2015-08-05 22:25] iwarapter opened #79 "replace puppet lint rule inherits_across_namespaces"
http://puppet-lint.com/checks/inherits_across_namespaces/
http://docs.puppetlabs.com/guides/style_guide.html#class-inheritance

[2015-08-05 22:26] iwarapter commented on #74
@racodond i have created issues for all of the checks i listed feel free to pick up the ones you want and add new issues for any others we want to replace. Add the remove puppet lint milestone so we can track our progress https://github.com/iwarapter/sonar-puppet/milestones

[2015-08-06 11:03] racodond opened #81 "Replace puppet lint rule right_to_left_relationship"

[2015-08-06 12:02] racodond commented on #81
Fixed in https://github.com/iwarapter/sonar-puppet/pull/82

[2015-08-06 12:10] racodond opened #83 "Replace all puppet lint rules dealing with quotes"
1. All variables must be enclosed in braces when interpolated in a string => https://github.com/iwarapter/sonar-puppet/pull/86
2. Single Quoted String Containing Variables => https://github.com/iwarapter/sonar-puppet/pull/84
3. All strings must be enclosed in single quotes, unless they contain variables or single quotes + Variables standing by themselves should not be quoted => https://github.com/

[2015-08-06 18:43] #81 closed

[2015-08-06 22:41] iwarapter commented on #77
@racodond I have implemented the check, however im not sure if its the best way, as it will detect any string usage, i was thinking of checking if the first character of the string started '/' as this will always be the start of any fully qualified file path. Thoughts?

[2015-08-07 07:27] racodond commented on #77
@iwarapter To make it clearer, I'd make this rule a little bit more generic: "ensure property of file resource should be valid". Per https://docs.puppetlabs.com/references/latest/type.html#file-attribute-ensure, in the description of the rule, I'd say that valid values are: `present`, `absent` (also called `false`), `file`, `directory`, and `link`. Also state that the rule enforce:

Then, you just

[2015-08-07 10:58] racodond commented on #78
Fixed in https://github.com/iwarapter/sonar-puppet/pull/91

[2015-08-07 13:14] racodond opened #96 "Replace Pplint:arrow_alignment"

[2015-08-07 17:18] racodond commented on #96
Fixed in https://github.com/iwarapter/sonar-puppet/pull/97

[2015-08-07 17:21] racodond opened #98 "Replace Pplint:2sp_soft_tabs"

[2015-08-07 18:51] iwarapter opened #100 "Improve the functional tests performance"
Currently the functional tests are taking longer that i'd like, need to look into way to optimise the build as it is now taking longer than 5 minutes to complete.

[2015-08-07 20:12] racodond opened #102 "Renaming packages com.iadams.sonarqube.xxx into org.sonarqube.xxx"
@iwarapter : Is that OK with you?

[2015-08-07 20:12] #78 closed

[2015-08-07 20:17] iwarapter commented on #102
@racodond i'd only do this if the project moved into the sonar community group, as this is currently a 3rd party plugin i don't think we should do this.

[2015-08-07 20:19] racodond commented on #102
OK

[2015-08-07 20:25] iwarapter commented on #102
Might be worth seeing if they are interested in this become part of the community plugin set. I think we should get the next release out and get some wider community feedback then see if there is interest.

[2015-08-07 20:30] iwarapter commented on #79
@racodond would you mind taking a look at the new rule?

[2015-08-07 20:39] racodond opened #104 "Replace Pplint:documentation"

[2015-08-07 20:49] iwarapter commented on #77
@racodond cheers for the feedback, just pulled in latest master changes got nasty conflict to fix then will publish the updates.

[2015-08-08 08:49] racodond commented on #79
@iwarapter My review: https://github.com/iwarapter/sonar-puppet/commit/596102ad72c70ecbae2ab460262c63b00b6c08d7 and the PR: https://github.com/iwarapter/sonar-puppet/pull/105

[2015-08-08 09:39] racodond commented on #104
Fixed in https://github.com/iwarapter/sonar-puppet/pull/106

[2015-08-08 09:56] racodond opened #107 "Puppet Lint summary replacement"
To be implemented:

* Pplint:variable_scope => to be implemented
* Pplint:2sp_soft_tabs => to be implemented

Puppet Lint rules that do not add any value:

* Pplint:IgnoredPuppetLintRule
* Pplint:class_inherits_from_params_class

All the other rules have been re-implemented.

[2015-08-08 10:14] iwarapter commented on #79
@racodond cheers, i like to restructuring of the rule i keep thinking of starting at the top (classdef in this case) instead of the part that matters (class_parent).

[2015-08-08 10:17] racodond commented on #79
Yep. And it's more efficient because you visit just a few nodes in this cases instead of all class nodes.

[2015-08-08 10:19] racodond commented on #102
Yep, we're almost ready for the "1.0" release. Also, I'll try and talk to the Puppet Labs guys when they come visit us at the company I'm currently working for. I'll see if they can endorse it, promote it, provide feedback and if we can work together to provide even more value.

[2015-08-08 10:34] iwarapter commented on #77
@racodond i think this covers the core changes, still need to update the description.

[2015-08-08 10:59] #104 closed

[2015-08-08 10:59] #79 closed

[2015-08-08 12:09] racodond commented on #77
@iwarapter Your implementation does not cover Resource Default and Resource Override. See https://github.com/iwarapter/sonar-puppet/blob/feature/Add_rule_puppet_url_without_modules/puppet-checks/src/main/java/com/iadams/sonarqube/puppet/checks/PuppetURLModulesCheck.java#L58 for example.

[2015-08-08 14:37] iwarapter commented on #77
@racodond cheers for the link, have added checks for resource default and resource override.

[2015-08-08 20:15] #96 closed

[2015-08-08 20:16] iwarapter opened #112 "Replace Pplint:autoloader_layout"
https://docs.puppetlabs.com/guides/style_guide.html#separate-files
http://puppet-lint.com/checks/autoloader_layout/

[2015-08-08 21:04] #77 closed

[2015-08-08 21:14] iwarapter opened #114 "Support for Junit style unit test reports"
Several extensions for rspec enable junit output formatting:
https://github.com/sj26/rspec_junit_formatter
https://github.com/natritmeyer/yarjuf

The test results can then be fed into Sonar.

[2015-08-08 21:17] iwarapter opened #115 "Puppet code coverage"
There are a few tools that enable output of some sort of code coverage for puppet tests:
http://www.morethanseven.net/2014/01/25/code-coverage-for-puppet-modules/
https://github.com/rodjek/rspec-puppet#producing-coverage-reports

If this could be incorporated into the plugin that would be awesome.

[2015-08-08 21:18] iwarapter opened #116 "Support puppet future parser"
This would require support for multiple parsers:
https://groups.google.com/forum/#!topic/sonarqube/9kQNWZw0Bs0

[2015-08-08 21:37] racodond commented on #47
Doesn't bring that much value. I'm closing it.

[2015-08-08 21:37] #47 closed

[2015-08-08 21:43] racodond opened #118 "ResourcePasswordSet and UserResourceLiteralName should cover the 3 types of resource"

[2015-08-08 22:28] iwarapter commented on #118
@racodond The UserResourceLiteralName doesn't need to support resource default or resource override.

I have extended the UserResourcePasswordNotSetCheck to cover the 3 types resource and the rule now follows similar implementations for doing this.

[2015-08-09 00:14] iwarapter commented on #112
@racodond Care to take a look.

[2015-08-09 10:22] #74 closed

[2015-08-09 11:54] iwarapter commented on #83
@racodond regarding #90 where did you find it was deprecated as the language specs for both 3.8 and the future parser support this? I'll implement the rule in a branch and we decide we want it.

[2015-08-09 12:05] racodond commented on #112
Nice job!

PR: https://github.com/iwarapter/sonar-puppet/pull/119 and my review: https://github.com/iwarapter/sonar-puppet/commit/801b5ee280ea343e71a459868d4d49b94349fcee

You can also directly create the PR when you want me to review

[2015-08-09 12:14] racodond commented on #118
Indeed

PR created and merged: https://github.com/iwarapter/sonar-puppet/pull/120

[2015-08-09 12:14] #118 closed

[2015-08-09 12:27] racodond commented on #83
@iwarapter Per the language specification:
- 3.8: http://docs.puppetlabs.com/puppet/3.8/reference/lang_node_definitions.html#naming
- latest: http://docs.puppetlabs.com/puppet/4.2/reference/lang_node_definitions.html#naming

and per your implementation of the grammar that follows those specifications: https://github.com/iwarapter/sonar-puppet/blob/master/puppet-squid/src/main/java/com/iadams/sonar

[2015-08-09 12:39] iwarapter commented on #83
Unfortunately what the docs say and the specifics of what there grammar implement are not the same:
https://github.com/puppetlabs/puppet/blob/3.x/lib/puppet/parser/grammar.ra#L677

Thats the hostname definition which allows for unquoted names. My grammar is wrong, i shall correct this and add the rule.

[2015-08-09 12:41] iwarapter opened #121 "Fix node name grammar error and implement rule for unquoted node names"

[2015-08-09 12:58] racodond commented on #83
Ah OK. I added this link to our PuppetGrammar file. See https://github.com/iwarapter/sonar-puppet/pull/122

Cool.

[2015-08-09 13:25] #112 closed

[2015-08-09 13:31] racodond commented on #83
All done with guidelines about quotes with the last PR https://github.com/iwarapter/sonar-puppet/pull/123

[2015-08-09 13:32] racodond opened #124 "Replace Pplint:variable_scope"

[2015-08-09 13:33] racodond commented on #107
Two rules left. Tickets created. I'm closing this issue.

[2015-08-09 13:33] #107 closed

[2015-08-09 15:52] iwarapter opened #126 "More detail in the custom metrics"
Currently the plugin has a custom metric for the number of resources. However i'd like to be more flexible on this so we could have a widget of the number of types of resources, e.g
[code]

[2015-08-09 15:56] iwarapter commented on #98
@racodond i suspect this will require extensions to the lexer to support indentations, see: https://github.com/SonarCommunity/sonar-python/tree/master/python-squid/src/main/java/org/sonar/python/lexer

[2015-08-09 15:57] iwarapter commented on #83
#125 covers node names, once merged we can close :)

[2015-08-09 17:05] racodond commented on #98
Nope. Python lexer needs to deal with indentation I guess because Python is based on indentation (there's no block token like braces).

[2015-08-09 17:06] racodond commented on #98
But this rule won't be simple to implement...

[2015-08-09 17:59] #121 closed

[2015-08-09 17:59] #83 closed

[2015-08-09 21:05] racodond opened #131 "Define Complexity Metric"

[2015-08-09 21:06] racodond opened #132 "Refine Statements Metric"

[2015-08-09 21:12] iwarapter commented on #131
@racodond i have a had a little play at this already :) (on some dirty local branch)

[2015-08-09 21:14] racodond commented on #131
@iwarapter Cool! Looking forward to hearing your proposal.

[2015-08-09 21:20] racodond opened #133 "NOSONAR tags do not work"

[2015-08-10 09:25] racodond commented on #133
Fixed in https://github.com/iwarapter/sonar-puppet/pull/134

[2015-08-10 14:37] racodond opened #135 "[Lexer error] Float cannot be lexed"
`0.3` => OK
`1.3` => KO

See https://github.com/iwarapter/sonar-puppet/commit/fcd75e734574cc0471fea971e2af46b39ef9109e

[2015-08-10 14:50] racodond opened #136 "[Lexer error] Attribute asssignment to a string containing "/" does not work after regular expression"
Assignment to a string containing "/" or an array does not work after regular expression.

The following piece of code cannot be lexed:
[code]

The following piece of code cannot is properly lexed:
[code]

[code]

[2015-08-10 15:57] racodond opened #137 "[Parse error] Hash array access and selectors in resource title are not supported"
The following pieces of code cannot be parsed:
[code]

[code]

[2015-08-10 16:02] iwarapter commented on #137
I just looked at the resource_name grammar, https://github.com/iwarapter/sonar-puppet/blob/master/puppet-squid/src/main/java/com/iadams/sonarqube/puppet/api/PuppetGrammar.java#L222 i suspect because variable is before hash_array_access then its reading this as:
NAME LBRACK VARIABLE ARRAY instead of NAME LBRACK HASH_ARRAY_ACCESS ....

[2015-08-10 16:06] racodond commented on #137
Exactly. I'm currently fixing it.

[2015-08-10 16:07] iwarapter commented on #137
Just bump it ahead in the list, it should ideally try to solve all the complex cases first selectors etc.

[2015-08-10 16:35] racodond commented on #137
Hash array access fixed (https://github.com/iwarapter/sonar-puppet/commit/d77aadcf48f90078798d13bc5663d9a26e38b821) but not selectors.
Opened branch: https://github.com/iwarapter/sonar-puppet/tree/Issue_137_hash_array_access_and_selector_as_resource_name_cannot_be_parsed

[2015-08-10 16:43] racodond opened #138 "[Parse error] Bare word as a left operand of an equality"
https://docs.puppetlabs.com/puppet/3.8/reference/lang_expressions.html#equality accepts strings. According to https://docs.puppetlabs.com/puppet/3.8/reference/lang_datatypes.html#strings, strings can be bare words. So the following syntax seems valid:

[code]

but it is not properly parsed.

[2015-08-10 16:51] racodond opened #139 "[Parse error] Variable can be assigned to any data types"
According to https://docs.puppetlabs.com/puppet/latest/reference/lang_variables.html#assignment, variables can be assigned to any data types. So the following piece of code should be valid:

`$a = String`

but it cannot be parsed

[2015-08-10 16:57] racodond opened #140 "[Parse errors] With bare words"
Should the following pieces of code be valid? It looks like they are accepted by the Puppet compiler.

[code]

[code]

[code]

[code]

[2015-08-10 17:14] racodond opened #141 "[Parse error] Case control expression should accept any expression resolving to a value"
See https://docs.puppetlabs.com/puppet/3.8/reference/lang_conditional.html#syntax-2. Thus the following piece of code should be properly parsed:
[code]

[2015-08-10 21:07] iwarapter commented on #137
[code]

@racodond the selector example you pasted above doesnt validate as its an assignment, however if i remove the assignment and leave just the selector it does validate (and parse in the plugin)

[2015-08-10 21:55] racodond commented on #137
My bad! On issue fixed then :-)

[2015-08-10 22:24] iwarapter commented on #141
The case statements where not something i covered in the recent major grammar rework unfortunately, i'll refactor this now.

[2015-08-10 23:23] iwarapter commented on #135
This is ordering again however needs to be carefully handled, essentially its currently finding and INTEGER(1) first instead of a FLOAT(1.3) the regex need to be rewritten to be more restrictive to mark a float as only a number with a single dot `[0-9]*\.[0-9]+` maybe?

[2015-08-11 07:33] #137 closed

[2015-08-11 10:02] racodond opened #145 "Extend ResourcePasswordSet and UserResourceLiteralName rule descriptions"
@iwarapter Could you please explain why? And what should be done instead?

[2015-08-11 13:33] #141 closed

[2015-08-11 13:33] #139 closed

[2015-08-11 13:34] #138 closed

[2015-08-11 13:39] racodond commented on #140
Everything is fixed but now

[code]

cannot be parsed.

[2015-08-11 17:52] iwarapter commented on #140
I put both lines in the sslr toolkit and they parse (individually)

[2015-08-11 19:11] iwarapter commented on #136
The regular expression to find regular expressions is abit off :/

[2015-08-11 20:13] racodond commented on #140
Yep they parse individually but not together.

[2015-08-11 22:21] iwarapter opened #146 "Further CI testing"
We should ensure we test the against latest and LTS and we should build/test against linux/windows (osx possibly too) http://www.appveyor.com/ might work for the windows CI side.

[2015-08-12 07:44] racodond opened #148 "Refine grammar statement / expression"
Assignment in if statement condition should raise a parse error:
[code]

[2015-08-12 08:04] iwarapter commented on #148
This is because i chained the assignment in with the rest of the [operator expressions](https://github.com/iwarapter/sonar-puppet/blob/master/puppet-squid/src/main/java/com/iadams/sonarqube/puppet/api/PuppetGrammar.java#L506), we should be able to pull this out fairly easily to better comply with the [puppet grammar](https://github.com/puppetlabs/puppet/blob/3.8.0/lib/puppet/parser/grammar.ra#L316

[2015-08-12 08:48] racodond commented on #136
Fixed!

[2015-08-12 08:48] #136 closed

[2015-08-12 09:15] racodond commented on #135
According to https://docs.puppetlabs.com/puppet/latest/reference/lang_data_number.html#floating-point-numbers and https://github.com/puppetlabs/puppet/blob/3.x/lib/puppet/parser/lexer.rb#L210, the regular expression for a float would be something like:

[code]

[2015-08-12 10:28] iwarapter commented on #135
The main problem is the lexer ordering:

[code]

As in the case with 1.3 it read it as INTEGER DOT INTEGER instead of FLOAT, i'll put together a healthy suite of tests for the lexer when i get home and can make sure i nail this down.

[2015-08-12 11:48] #133 closed

[2015-08-12 12:11] iwarapter commented on #140
@racodond I think this relates to #148 as i suspect the assignment is expecting something after it to form a larger expression, i'll refactor the expression definition to remove assignment and i suspect that will solve this.

[2015-08-12 19:19] iwarapter commented on #140
Hmm interestingly this also doesn't parse:

[code]

So definitely think its the way the assignment grammar is working.

[2015-08-12 21:49] iwarapter opened #157 "Add check for nested IF statements"
This rule should be configurable, all languages use 3 for this type of rule http://nemo.sonarqube.org/coding_rules#q=nested

[2015-08-12 21:49] iwarapter opened #158 "Add check for nested SELECTOR statements"
This should be an extension of the nested cases rule.

[2015-08-12 21:55] racodond opened #160 "Add check to detect commented-out code"

[2015-08-12 21:58] racodond opened #161 "Add check: same case / case matcher / condition within the same selector / case / if statements"

[2015-08-12 22:11] racodond opened #162 "Add check: Classes and defines should not be too complex"
We first need to define what increases the complexity: if, selector, case, resource, resource override, resource default, ...

[2015-08-12 22:17] iwarapter commented on #162
If were looking at in terms of cyclomatic complexity then its any conditional, im going to add a metrics label so we can track all these types of issues.

[2015-08-13 07:43] #148 closed

[2015-08-13 07:47] racodond commented on #140
Nice

[2015-08-13 07:47] #140 closed

[2015-08-13 07:48] #135 closed

[2015-08-13 07:54] racodond commented on #162
I believe that we should increase the complexity for resources as well. Indeed a class defining a thousand resources should be more complex than a class defining only 10 resources. We have to come up with our own valuable definition of complexity for Puppet.

In Java, for example, they increase the complexity of a class  for each method/function. And we mapped resources to functions, so we should

[2015-08-13 08:01] iwarapter commented on #162
OK, i didnt realise they mapped num methods to complexity in the java plugin, might be worth to take a look see we would need to implement something similar.

[2015-08-14 20:50] racodond opened #169 "Add check: Empty block of code"
The following block of code should raise an issue for example:

[code]

[2015-08-15 10:20] racodond commented on #162
Fixed in https://github.com/iwarapter/sonar-puppet/pull/171

[2015-08-15 10:21] racodond commented on #131
Fixed in https://github.com/iwarapter/sonar-puppet/pull/170

[2015-08-15 13:51] racodond commented on #169
Fixed in https://github.com/iwarapter/sonar-puppet/pull/172
Move to `PuppetCheckVisitor` once the PR containing this new visitor is merged.

[2015-08-15 14:10] racodond opened #173 "Add check: Do not quote enumerable set of options"
Noncompliant:
[code]
Compliant:
[code]

[2015-08-15 14:14] racodond opened #174 "Parse metadata.json files and provide checks"
See http://docs.puppetlabs.com/puppet/latest/reference/modules_publishing.html#write-a-metadatajson-file
See https://github.com/puppet-community/metadata-json-lint

[2015-08-15 14:24] racodond opened #175 "Why variables standing by themselves should be quoted in resource titles and only there?"
Follow discussion at https://groups.google.com/d/msg/puppet-users/acTxmBfOAeU/vDHgqyAMHAAJ

[2015-08-15 14:30] racodond opened #176 "Resource defaults should be used in a very controlled manner"
Try to understand https://docs.puppetlabs.com/guides/style_guide.html#resource-defaults

[2015-08-15 16:38] iwarapter commented on #176
@racodond this is why i originally had the info level rule to mark these for manual review, checking to see if its top level scope i.e site.pp should enough however this point:

[code]

We could only cover if we can identify the inheritance.

[2015-08-15 18:24] racodond commented on #176
@iwarapter Yep. I reopened the issue because I was wondering if each Puppet module should be analyzed as a dedicated project in SonarQube or if they should be analyzed all together in a single project. In this case, we could implement such a rule.
Also I want to try and understand this rule because the company I work with kind of extensively use those resource default statements.

[2015-08-15 18:47] #169 closed

[2015-08-15 18:47] #162 closed

[2015-08-15 18:48] #131 closed

[2015-08-15 22:59] iwarapter opened #178 "Boolean checks should not be inverted"
http://nemo.sonarqube.org/coding_rules#q=invert

[2015-08-15 23:30] #158 closed

[2015-08-15 23:30] #157 closed

[2015-08-15 23:54] iwarapter opened #181 "Collapsible "if" statements should be merged"
http://nemo.sonarqube.org/coding_rules#q=python%3AS1066|languages=py

[2015-08-15 23:55] iwarapter opened #182 "Conditions in related "if/elif/else if" statements should not have the same condition"
http://nemo.sonarqube.org/coding_rules#languages=py|tags=pitfall|q=python%3AS1862

[2015-08-16 09:06] racodond commented on #182
Isssue already created: https://github.com/iwarapter/sonar-puppet/issues/161

[2015-08-16 09:06] #182 closed

[2015-08-16 09:06] racodond commented on #161
http://nemo.sonarqube.org/coding_rules#languages=py|tags=pitfall|q=python%3AS1862

[2015-08-16 09:16] #145 closed

[2015-08-16 17:33] racodond commented on #175
@iwarapter Any thoughts about the Google group discussion? Should I revert https://github.com/iwarapter/sonar-puppet/commit/0b93482ae9b0d3583b9bb1097ca08cf455c87d16?

[2015-08-16 19:53] iwarapter commented on #175
@racodond i think it should enforce the quoting of resource titles as per the style guide.

[2015-08-16 21:24] #175 closed

[2015-08-16 22:32] racodond commented on #174
SonarQube JSON plugin created: https://github.com/racodond/sonar-json-plugin.

[2015-08-17 21:45] racodond commented on #174
Don't know where they get: https://github.com/puppet-community/metadata-json-lint/blob/master/lib/metadata_json_lint.rb#L79

[2015-08-17 22:12] iwarapter opened #187 "Remove puppet-lint"
The following rules need to be implemented then the puppet-lint support can be dropped: #124 #98

[2015-08-18 15:58] racodond opened #189 "Add check: Deprecated "tests" directories should be replaced by "examples" directories"
See https://docs.puppetlabs.com/puppet/latest/reference/modules_fundamentals.html#module-layout

[2015-08-18 15:59] racodond commented on #189
Fixed in https://github.com/iwarapter/sonar-puppet/pull/188

[2015-08-18 15:59] racodond opened #190 "Add check: Each Puppet module should contain a "metadata.json" file"
See https://docs.puppetlabs.com/guides/style_guide.html#module-metadata

[2015-08-18 16:00] racodond commented on #190
Fixed in https://github.com/iwarapter/sonar-puppet/pull/188

[2015-08-18 16:04] racodond opened #191 "Try and find a way to add unit tests to project level checks"

[2015-08-18 16:14] racodond commented on #174
@iwarapter I added a few checks. I'm now happy with it. Could you please have another quick look at it? If it's ok with you, I'll release it. Do you want me to add you in the license?

[2015-08-18 18:00] iwarapter commented on #174
@racodond i'll take another look, no need to add me to the license i haven't contributed anything to it :)

[2015-08-18 18:22] racodond commented on #174
You tested it and provided some feedback. I'll add you when you start contributing. I'm sure you'll find some bugs and you'll want to add some features.

[2015-08-18 20:21] #190 closed

[2015-08-18 20:22] #189 closed

[2015-08-18 23:31] iwarapter commented on #178
Want to review/improve the grammar around expressions.

[2015-08-19 20:20] racodond commented on #173
This check should be removed from rule "ensure" property of file resource should be valid

[2015-08-19 20:22] racodond opened #193 "Add rule: Remove useless parentheses in conditions"
`if $a == 1 {` instead of `if ($a == 1) {`

`if $a == 1 and $b == 2 {` instead of `if ($a == 1 and $b ==2) {`

[2015-08-19 20:30] racodond commented on #124
We should have a look at symbol table: https://github.com/SonarSource/sonar-java/blob/master/java-squid/src/main/java/org/sonar/java/ast/visitors/SonarSymbolTableVisitor.java. The basis to provide nice check like this one and more.

[2015-08-19 21:14] racodond opened #194 "Add check: one include per line"
Prefer
[code]
to
[code]
for readability reasons

[2015-08-20 07:26] racodond opened #195 "Add rule: if elsif else formatting"
Prefer
[code]
to

[code]

[2015-08-20 20:14] #181 closed

[2015-08-21 07:53] #174 closed

[2015-08-22 12:22] racodond opened #199 "Add rule: Remove useless lint:ignore / lint:endignore comments"
Remove useless `lint:ignore:<check name> and lint:endignore` as you are now using SonarQube to check your code.

Deprecate corresponding puppet-lint rule

[2015-08-22 12:47] racodond commented on #194
Fixed in https://github.com/iwarapter/sonar-puppet/pull/200

[2015-08-22 13:16] racodond commented on #199
Fixed in https://github.com/iwarapter/sonar-puppet/pull/201

[2015-08-22 14:47] racodond opened #206 "Add rule: Deprecated array appends operator (+=)"
See https://docs.puppetlabs.com/puppet/latest/reference/experiments_future.html#and--
I can't find any documentation about the "-=" operator.

[2015-08-22 14:47] racodond commented on #206
Fixed in https://github.com/iwarapter/sonar-puppet/pull/205

[2015-08-22 15:02] racodond opened #207 "Update default severity of quoted boolean rule to CRITICAL"
Indeed, since Puppet 4, comparing boolean and string always returns false: https://docs.puppetlabs.com/puppet/latest/reference/experiments_future.html#boolean-facts-are-always-real-booleans

[2015-08-22 15:05] racodond commented on #207
Fixed in https://github.com/iwarapter/sonar-puppet/pull/208

[2015-08-22 17:17] racodond commented on #195
Fixed in https://github.com/iwarapter/sonar-puppet/pull/212

[2015-08-22 17:45] racodond opened #213 "Add rule: Check for Excess Spaces When Accessing Hashes and Arrays"
https://docs.puppetlabs.com/puppet/latest/reference/experiments_future.html#check-for-excess-spaces-when-accessing-hashes-and-arrays

[2015-08-22 17:49] racodond commented on #213
Fixed in https://github.com/iwarapter/sonar-puppet/pull/214

[2015-08-23 07:09] #213 closed

[2015-08-23 07:09] #207 closed

[2015-08-23 07:09] #199 closed

[2015-08-23 07:09] #195 closed

[2015-08-23 07:09] #206 closed

[2015-08-23 07:10] #194 closed

[2015-08-23 09:12] #178 closed

[2015-08-23 19:33] racodond opened #218 "Add rule: default resources should be defined prior to any other resources"
Understandability

[2015-08-24 10:23] racodond commented on #218
Fixed in https://github.com/iwarapter/sonar-puppet/pull/220

[2015-08-26 07:38] #187 closed

[2015-08-26 07:38] #218 closed

[2015-08-26 07:39] #98 closed

[2015-08-26 15:46] racodond opened #222 "Add rule: "noop" metaparameter should be used for testing purpose only"
http://docs.puppetlabs.com/references/latest/metaparameter.html#noop

[2015-08-26 17:19] racodond commented on #222
Fixed in https://github.com/iwarapter/sonar-puppet/pull/223

[2015-08-28 19:47] racodond opened #227 "Add rule: Readme file should be present"

[2015-08-28 19:48] racodond commented on #227
Fixed in https://github.com/iwarapter/sonar-puppet/pull/226

[2015-08-28 20:56] #227 closed

[2015-08-28 20:56] #222 closed

[2015-08-28 21:00] #161 closed

[2015-08-29 13:01] racodond commented on #193
Fixed in https://github.com/iwarapter/sonar-puppet/pull/230

[2015-08-29 18:00] racodond commented on #173
Fixed in https://github.com/iwarapter/sonar-puppet/pull/231

[2015-08-29 18:12] racodond opened #232 "Add support for resource collectors in several rules"
FileEnsurePropertyIsValid => already fixed in https://github.com/iwarapter/sonar-puppet/commit/60a19efed2bba03381511bbdf1ce193802789003
NoopUsage
UserResourcePasswordNotSet
FileMode

[2015-08-29 18:52] racodond commented on #232
Fixed in https://github.com/iwarapter/sonar-puppet/issues/232

[2015-08-30 18:55] #232 closed

[2015-08-30 18:55] #193 closed

[2015-08-30 19:12] #173 closed

[2015-09-09 10:19] racodond opened #235 "Improve syntax highlighting"

[2015-09-25 14:23] racodond commented on #235
Fixed in https://github.com/iwarapter/sonar-puppet/pull/236

[2015-10-01 17:20] #235 closed

[2015-10-01 17:21] #102 closed

[2015-10-01 17:23] racodond opened #237 "AutoLoaderLayout rule shouldn't check for the module name"
It should only check what is after the `manifests/...` directory otherwise it generates two many false positives.

[2015-10-06 14:50] racodond commented on #237
Fixed in https://github.com/iwarapter/sonar-puppet/pull/238

[2015-10-15 09:18] #237 closed

[2015-10-15 20:51] racodond opened #240 "Make the plugin be compatible with SonarQube 5.2"
Caused by: java.lang.NoSuchMethodError: org.sonar.api.component.ResourcePerspectives.as(Ljava/lang/Class;Lorg/sonar/api/component/Component;)Lorg/sonar/api/component/Perspective;
	at com.iadams.sonarqube.puppet.checks.ProjectChecks.addIssue(ProjectChecks.java:146)
	at com.iadams.sonarqube.puppet.checks.ProjectChecks.checkTestsDirectoryPresent(ProjectChecks.java:130)
	at com.iadams.sonarqube.puppet

[2015-10-16 11:15] racodond commented on #240
Fixed in https://github.com/iwarapter/sonar-puppet/commit/3a6412475a65ff0d91b0738576f1e633956e3cd7

[2015-10-16 16:17] iwarapter commented on #240
I have merged, this i'll extend the functional tests to cover the various versions.

[2015-10-16 16:20] racodond commented on #240
Good idea!

[2015-10-17 17:09] iwarapter commented on #240
After further testing, need todo more to support 5.2

[2015-10-18 18:17] racodond commented on #240
OK. Any detail about the other issues?

[2015-10-18 19:33] iwarapter commented on #240
The decorator we were using for the puppet_resource metric needs to be re-implemented with a [Measure Computer](https://github.com/SonarSource/sonarqube/blob/master/sonar-plugin-api/src/main/java/org/sonar/api/ce/measure/MeasureComputer.java). I have also been cleaning out some old code thats no longer used.

[2015-10-19 07:30] racodond commented on #240
Yep but only when we want to make the plugin be compatible with version 5.2+. I believe that'll be when version 5.x becomes the LTS. What do you think?

OK

[2015-11-09 11:59] arioch commented on #116
Just wondering what guesstimated time frame are we looking at to see this implemented?
I'd like to start using SonarQube for the sole purpose of this plugin.

[2015-11-09 12:25] racodond opened #243 "Make FaultyQuoteUsage rule support multiline strings"
No issue raised on
[code]
for instance

[2015-11-09 12:25] racodond commented on #243
Fixed in https://github.com/iwarapter/sonar-puppet/pull/242

[2015-11-09 19:01] iwarapter commented on #243
Merged.

[2015-11-09 19:01] #243 closed

[2015-11-09 19:04] iwarapter commented on #116
I hopefully going to get a chance to put the ground work in later this week, i'd like to think i could have it ready within a month (big guesswork) work allowing...

[2015-11-16 13:53] zonArt opened #245 "Merging issues on badly formated multi-line blocks"
In a resource definition if the whole block below is badly indented, sonar plugin raises one issue per line instead of only one for the whole block. Would be great if this could be merged as one single issue.

[2015-11-16 15:09] iwarapter commented on #245
Is this the sort of thing you are seeing?

[code]

[2015-11-16 15:47] zonArt commented on #245
Not really no, more something like:

[code]

All the other lines are well aligned with the first one however they're all wrong because of indentation.
Not sure if I'm clear enough sorry

[2015-11-16 15:51] iwarapter commented on #245
Is 3 indenting something your doing as standard or do you just have some non compliant code?

[2015-11-16 15:54] zonArt commented on #245
No it was just a mistake and it's not a problem having an issue raised for it but it's probably not necessary to have 5 issues for the same block. Do you know what I mean ?

[2015-11-16 16:04] iwarapter commented on #245
Yeah i understand, where your coming. The main concern I have is lets say we have a file with many statements on it, that could potentially all be poorly indented. Like the params on [this class](https://github.com/puppetlabs/puppetlabs-apache/blob/master/manifests/init.pp). I'd need to make sure the parent issue clearly states all issues on the block below, this could get quite messy.

Let me hav

[2015-11-16 16:24] zonArt commented on #245
I understand the concerns of having each line with it own issue and especially if some of them are correctly indented and some other aren't but we can maybe think about regrouping consecutive lines with the same issue under only one.

[2015-11-16 16:28] iwarapter commented on #245
I like the idea of doing it with consecutive lines, so you would have something like:

[code]

Which in the example above would be issue raised on line 2 (first occurrence) and be for the following 4 lines.

[2015-11-16 16:42] zonArt commented on #245
yes exactly

[2015-11-20 08:48] iwarapter commented on #245
This will be in the next release.

[2015-11-20 08:48] #245 closed

[2015-11-25 20:54] petems commented on #116
@iwarapter Is there anything people can do to help with this? Really cool feature if we can get it working! :+1:

[2015-11-26 13:06] petems commented on #116
Just added a [![Bountysource](https://api.bountysource.com/badge/issue?issue_id=25525775)](https://www.bountysource.com/issues/25525775-support-puppet-future-parser-versions-4?utm_source=25525775&utm_medium=shield&utm_campaign=ISSUE_BADGE) :+1:

[2015-11-27 13:06] racodond opened #251 "Fix highlighting on files starting with a BOM"
Currently, no plugin supports this specific case. Waiting for one implementation from SonarSource before replicating it for the Puppet plugin.

[2015-12-08 22:50] petems opened #253 "UnquotedResourceTitleCheck needs fixing for variable based titles"
Opened a ticket and talked to the docs team about this: https://tickets.puppetlabs.com/browse/DOCUMENT-468

tl;dr Unquoted title checks should only apply for non variable based titles.

[code]

However:

[code]

[2015-12-08 23:46] iwarapter commented on #253
Thanks for your pull request :)

[2015-12-08 23:46] #253 closed

[2015-12-09 00:00] petems commented on #253
Damn, meant to put `closes #254` in the PR so this auto-closes, forgot! :smile:

[2016-01-13 16:43] iwarapter commented on #240
This has now been resolved.

[2016-01-13 16:43] #240 closed

[2016-02-03 17:12] shpoont opened #258 "java.lang.NoSuchMethodError in version 1.2"
Versions:
Sonar: 5.3
SonarQube Scanner: 2.5

[code]

[2016-02-03 18:36] iwarapter commented on #258
Sneaky feeling this has already been fixed and is in the yet-to-be-released 1.3, will confirm.

[2016-02-03 21:59] iwarapter commented on #258
Confirmed, this will be fixed in the next release :)

[2016-02-03 22:19] shpoont commented on #258
Thanks, when do you plan to release? :)

[2016-02-04 13:38] iwarapter commented on #258
i'll publish a rc tonight, providing all is well full version will be published 3 days later :)

[2016-02-04 15:57] shpoont commented on #258
Thanks a lot! :+1:

[2016-02-06 12:13] iwarapter commented on #258
Release candidate is available: https://github.com/iwarapter/sonar-puppet/releases/tag/1.3-RC1

[2016-02-06 12:20] iwarapter commented on #258
Also dont forget to vote: https://groups.google.com/forum/#!topic/sonarqube/qLPb2CwhiWc

[2016-02-15 22:38] iwarapter commented on #258
Fixed with the release of 1.3

[2016-02-15 22:38] #258 closed

[2016-03-20 15:44] iwarapter opened #262 "Automatically validate samples in documentation"
Samples in the rule documentation should be automatically validated to ensure they are all valid puppet code.

[2016-03-20 15:49] iwarapter commented on #262
@racodond @petems to help validate the puppet samples we have in our rule documentation i have written some tests which essentially extract it and 'puppet --validate' the code, im just cleaning it up a little but you can have a sneak peak here: https://github.com/iwarapter/sonar-puppet/tree/feature/add_sample_testing this is to help with the issues we had in #260

[2016-03-21 19:50] racodond commented on #262
@iwarapter Good move! Regarding the tests, instead of writing one test by rule, wouldn't you be able to browse all html rule description files automatically?

[2016-03-21 21:18] iwarapter commented on #262
@racodond i was originally doing that but we have a few rules which have samples that won't pass see EmptyLineEndOfFile for example and also quote a few of the descriptions don't have actual puppet code either which made it a little messy. Will keep having a play.

[2016-03-21 21:31] racodond commented on #262
Why not adding a 'fake' CSS class to the <pre> we don't want to be checked?

[2016-03-21 21:51] iwarapter commented on #262
Yeah i have added a skipautotest="" to the sections we want to skip, need to make sure the tests handle there being no samples etc.

[2016-03-21 21:55] iwarapter commented on #262
The other benefit of having the tests seperated is they can be forked when running as todo all of them together in series takes a couple of mins.

[2016-03-30 09:20] #262 closed

[2016-03-30 09:21] racodond commented on #262
See https://github.com/iwarapter/sonar-puppet/pull/264

[2016-05-20 21:42] italy-portugal opened #265 "Failure during OneIncludePerLineCheck"
Sonar-Runner execution fails with "Unable to analyze file" if an `include` is made with parenthesis,

Example:
[code]

Exception log indicates:
[code]

For Documentation on Include:
https://docs.puppet.com/puppet/3.8/reference/function.html#include

Thanks for this plugin!

[2016-05-22 21:33] #265 closed

[2016-05-26 06:23] racodond opened #267 "Add precise issue location"

[2016-05-26 18:55] iwarapter commented on #265
a vote for release has started which includes this fix:

https://groups.google.com/forum/m/#!topic/sonarqube/R37SU66fL0s

[2016-06-07 07:33] racodond opened #268 "Add a Maven like release task"

[2016-06-10 08:02] racodond opened #269 "FP on rule TrailingCommas when line is ending with ;"
Should not raise an issue when last parameter is ending with `;` as on the example below:
[code]
because the following is not really nice
[code]

[2016-06-10 14:23] #269 closed

[2017-03-13 17:06] dbmeneses opened #271 "Incompatibility with SQ 6.4 because of code colorizer API"
The code colorizer API (deprecated since 4.5.2) will be removed in SonarQube 6.4. More details here:
https://jira.sonarsource.com/browse/SONAR-7860

Puppet plugin is currently still using it, which would make it incompatible with SonarQube 6.4. It should use directly the highlighting mechanism available in the SensorContext.

[2017-03-13 21:36] iwarapter commented on #271
@dbmeneses thanks for the update, the plugin was still on 4.5.2 so the move the 5.6.6 is bringing in lots nice new features but also lots of refactoring!

[2017-05-05 10:39] arioch commented on #116
With Puppet 3 being end of life/support this ticket comes to mind again.
Nobody claimed the bounty yet?

[2017-05-05 10:45] iwarapter commented on #116
I have been working on this, however i'm not getting a great deal of time at the moment (travelling for work alot). Im hoping to get a few nights/weekend soon so keep watching!

[2017-05-20 14:16] iwarapter commented on #271
@dbmeneses There is a new [release-candidate](https://groups.google.com/forum/#!topic/sonarqube/ytNiMhLEKkI) which should resolve this

[2017-05-23 16:49] axel3rd opened #274 "Support 'custom file server mount point' (by configuration)"
Hello,

The **puppet:PuppetURLModules** is a relevant rule, but as explain in linked [Puppet File Server Guide](https://docs.puppet.com/puppet/latest/file_serving.html#serving-module-files):

In a company with large Puppet Master and some categorizations, this customization could be useful.

In complement of #150 (['modules' pattern & variables](https://github.com/iwarapter/sonar-puppet/blob/maste

[2017-05-24 09:01] coxifred commented on #274
+1

[2017-06-01 19:33] bdetchison commented on #116
Our company was contemplating writing our own Puppet plugin so we can support 4.10 as we really want this in our environment.  I would rather contribute to this project, however if @iwarapter is already working on it, we will wait it out.

[2017-08-18 23:20] axel3rd commented on #274
Perhaps a `@RuleProperty` is more simple ...

[2017-10-22 14:39] peterkga opened #276 "Check for proper lf or crlf"
During our initial implementation of GitHub packaged by teamcity and pushed by octopus, a file was copied to the puppet server with the wrong end of line character (was using windows end of line character vs linux end of line character) causing access problems to the server.  It would be great to have a SonarQube check for the proper end of line character based on OS.  I know you can set a config

[2018-02-02 08:37] witjoh commented on #114
https://github.com/witjoh/rspec_sonar_formatter
this generates generic-test-data xml, parsed by sonar, but it does nothing with it ...

[2018-02-02 11:14] noqqe commented on #116
Anything new here?

[2018-03-06 23:36] cardil commented on #271
Any updates on new version? It's been now almost a year since RC.

There is already SonarQube LTS 6.7.1 and I just confirm it fails with this plugin (version 1.4)

[2018-04-09 09:44] witjoh commented on #116
@bdetchison   are you still willing to put that plugin on github ?  Or create a PR against this repo ?  Maybe soneone can use it as a strting point to update to the latest puppet versions ?
My code skills are really poor ... but really happy to learn something new :)
We are still using 3.8 puppet but migrating to version 5 very soon ....
Thx

[2019-01-03 10:38] thomasmeeus commented on #116
@bdetchison @iwarapter Any update on this? I'm looking for a more recent puppet plugin too. Writing one from scratch seems to hard for me, but once there is a starting point it should be doable to extend it.

[2019-05-31 12:59] StephenShamakian opened #279 "Latest SonarQube LTS version support?"
@iwarapter  @racodond Are there any supports to update this plugin to support the latest SonarQube LTS versions? I also noticed this plugin was posted on the deprecated list by SonarQube: https://docs.sonarqube.org/display/PLUG/Deprecated+Plugins

[2019-07-20 11:13] mfoo commented on #116
I would also be interested in this. Is there any branch that we could see and potentially work on?